#inicio h1{
    color:rgb(255, 255, 255) ;
}
#inicio p{
    font-size: 25;
}


#inicio header{
    justify-content: space-between;
}

#inicio ul{
    display: flex;
    @media (max-width:500px) {
        flex-direction: column;
    }
}

li{
    list-style-type: none;
}

html{
    background-color: cadetblue;
    color: white;
}

header{
    display: flex;

}

header nav ul{
    display: flex;
    gap: 30px;
}

.imagen{
    width: 350px;
    height: 250px;
    display: flex;
}

#estudios h1 {
    display: flex;
    justify-content: center;
}

#estudios h2 {
    display: flex;
    justify-content: center;
}

#estudios footer{
    display: flex;
    justify-content: center;
}

#estudios ul li{
    display: flex;
    justify-content: center;
}

#contact img{
    display: flex;
    width: 25px;
    height: 25px;
}

#contact{
    font-size: 25px;
}


