#estudios {
    h1{
        display: flex;
    justify-content: center;
}
h2 {
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;}
    ul li{
        display: flex;
        justify-content: center;
    }
    .imagen{
        width: 250px;
        height: 250px;
    }

}